<%= form_for(@group_contact) do |f| %>
  <% if @group_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_contact.errors.count, "error") %> prohibited this group_contact from being saved:</h2>

      <ul>
      <% @group_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
