<h1>Listing group_contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group_contacts.each do |group_contact| %>
      <tr>
        <td><%= group_contact.name %></td>
        <td><%= link_to 'Show', group_contact %></td>
        <td><%= link_to 'Edit', edit_group_contact_path(group_contact) %></td>
        <td><%= link_to 'Destroy', group_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group contact', new_group_contact_path %>
